# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# IchunUtil 1.16 open source
iChunUtil-1.16

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
libs
src/api/resources/META-INF/accesstransformer.cfg
logs

# other
eclipse
run

# java
*.class
*.war
*.ear